@import './colors.css';

@keyframes fadeUpSlow {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 100;
    transform: translateY(0);
  }
}

#returnMainPage_id {
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  background: none;
  margin-top: 50px;
  align-self: flex-start;
  margin-top: -50px;
  margin-left: 20px;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  background-color: var(--bg-button);
  transition-duration: 0.2s;
  transition-property: opacity;
}

#returnMainPage_id:hover {
  opacity: 0.8;
  cursor: pointer;
}

#createGameLogo_id {
  object-fit: fill;
  max-width: 200px;
  margin-top: -50px;
}

#settingsWrapper_id {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  padding: 10px 30px 10px 30px;
  max-width: 320px;
  align-items: start;
}

.individualSettingDOM {
  display: flex;
  flex-direction: row;
  color: var(--text-secondary);
  font-size: 23px;
  margin-bottom: 60px;
}

.individualSettingDOM .settingName {
  width: 220px;
}

.selectorDOM {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.selectorDOM button {
  border: none;
  background-color: none;
  font-size: 23px;
  color: var(--text-primary);
}

.selectorDOM button:hover {
  cursor: pointer;
}

.selectorDOM div {
  color: var(--text-primary);
  font-size: 23px;
  margin-left: 10px;
  margin-right: 10px;
  width: 45px;
  text-align: center;
}
