@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Stack+Sans+Headline:wght@200..700&display=swap');
@import './colors.css';

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 100;
    transform: translateY(0);
  }
}
* {
  margin: 0;
  font-family: 'Stack Sans Headline', sans-serif;
  background-color: var(--bg-primary);
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 100px 10px 100px 10px;
  animation-name: fadeUp;
  animation-duration: 2s;
}

#content.fast-animation {
  animation: fadeUp 0.8s;
}

.mainText {
  color: var(--text-primary);
  font-size: 30px;
  font-weight: 300;
  margin-top: 50px;
  text-align: center;
  max-width: 350px;
}
