@import './colors.css';

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 100;
    transform: translateY(0);
  }
}
#mainLogo_id {
  object-fit: fill;
  max-width: 350px;
}

#titleGameDescription_id {
  color: var(--text-primary);
  font-size: 30px;
  font-weight: 300;
  margin-top: 50px;
  text-align: center;
  max-width: 300px;
}

#playButton_id {
  margin-top: 80px;
  max-width: 350px;
  border: none;
  border-radius: 10px;
  padding: 15px 50px 15px 50px;
  font-size: 30px;
  color: var(--text-secondary);
  background-color: var(--bg-button);
  transition-property: opacity;
  transition-duration: 0.2s;
}

#playButton_id:hover {
  opacity: 0.8;
  cursor: pointer;
}

#tableOptionsWrapper_id {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  max-width: 350px;
  gap: 20px;
  animation: fadeDown 1s;
}

#tableOptionsWrapper_id button {
  max-width: 50%;
  border: none;
  border-radius: 10px;
  padding: 15px 30px 15px 30px;
  font-size: 15px;
  color: var(--text-primary);
  background-color: var(--accent-secondary);
  text-align: center;
  transition-property: opacity;
  transition-duration: 0.2s;
}

#tableOptionsWrapper_id button:hover {
  opacity: 0.8;
  cursor: pointer;
}
