@import url('./colors.css');

.blockDiv {
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-secondary);
  color: #a0a0b0;
  padding: 8px;
  border-radius: 8px;
  font-size: 14px;
  text-align: center;
}

.blockName {
  font-size: 18px;
  color: var(--text-secondary);
  background-color: transparent;
}
